<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login MQTT</title>

   <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container_login">

        <div class="login-box">

            <h1>
                Seja Bem Vindo,<br>
                Conecte-se ao seu<br>
                BROKER MQTT!
            </h1>

            <form id="loginForm">

                <label>Broker</label>
                <input type="text" id="topico" required>

                <label>Porta</label>
                <input type="text" id="topico" required>

                <label>Tópico</label>
                <input type="text" id="topico" required>

                <label>Usuário</label>
                <input type="text" id="topico" required>

                <label>Senha</label>
                <input type="password" id="senha" required>


                <a href="home.html">
                <button type="submit">
                    entrar
                </button>
                </a>

            </form>

        </div>

    </div>

</body>
</html>