<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login MQTT</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container_login">

        <div class="login-box">

            <h1>
                Seja Bem Vindo,<br>
                Conecte-se ao seu<br>
                BROKER MQTT!
            </h1>

            <form id="loginForm" action="/formulario" method="post">

                <label>Broker</label>
                <input type="text" id="BROKER" name="BROKER" required>

                <label>Porta</label>
                <input type="text" id="PORT" name="PORT" required>

                <label>Tópico</label>
                <input type="text" id="TOPIC" name="TOPIC" required>

                <label>Usuário</label>
                <input type="text" id="USERNAME" name="USERNAME" required>

                <label>Senha</label>
                <input type="password" id="PASSWORD" name="PASSWORD" required>


                <button type="submit">
                    entrar
                </button>

            </form>

        </div>

    </div>

</body>
</html>