<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento MQTT</title>

    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>

    <div class="container_input">

        
        <div class="topo">

            <a href="home.html">
                <button class="voltar">
                    Página Inicial
                </button>
            </a>

            <h2>
                Input de Comandos MQTT
            </h2>

            <a href="index.html">
                <button class="sair">
                    SAIR
                </button>
            </a>

        </div>

        <div class="comando-box">

            <h3>ESCREVER COMANDO</h3>

            <div class="input-area">

                <input
                    type="text"
                    id="comandoInput"
                    placeholder="Digite um comando MQTT"
                >

                <button onclick>
                    ENVIAR
                </button>

            </div>

        </div>

        <div class="status-box">

            <h1>STATUS</h1>

            <div id="statusArea">

                <p>
                    Aguardando comando...
                </p>

            </div>

        </div>

    </div>


</body>
</html>