<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecossistema-Mqtt</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div class="container_home">

        <div class="home-box">

            <div class="high">
                <a href="input.html"><button>PAGINA DE INPUT</button></a>
                <h2>CONECTADO AO TOPICO "AULA"</h2>
                <a href="index.html"><button>SAIR</button></a>
            </div>

            <div class="mid">
                <button class="comando">COMANDO 1</button>
                <button class="comando">COMANDO 2</button>
                <button class="comando">COMANDO 3</button>
                <button class="comando">COMANDO 4</button>
            </div>

            <div class="footer">
                <h1>STATUS</h1>
            </div>

        </div>

    </div>

</body>
</html>